
</div>
 <div class="footer"><img style="margin-left:10px" src="https://cdn2.iconfinder.com/data/icons/picol-vector/32/view-512.png" width="15px"/>
    Lượt Truy Cập: null <br />
    <img style="margin-left:10px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Flat_tick_icon.svg/1200px-Flat_tick_icon.svg.png" width="12px"/>
    Node Js test</div>

</body>
</html>