
<%- include('header',{title : 'Trang Chủ' }); -%>
            




<br><br>
<table>
    <td>
        <br><br><h2> Xin Chào <span class="list5" style="color:red"> <%= currentUser ? currentUser.displayName : 'Khách' %></span> chúc bạn có 1 ngày học tập và làm việc vui vẻ :)
        </h2><br><br>

    </td>
    <td style="width:450px" class="list">
        <center>
            <img id="zoom"style="margin-left:10px" src="https://msmobile.com.vn/upload_images/images/hinh-nen-powerpoint-mau-xanh-da-troi-8.jpg" width="500px"/>
            
            </center>
    
    </td>
 </table>












<br><br><br><br><br><br>
















</div>
 <div class="footer"><img style="margin-left:10px" src="https://cdn2.iconfinder.com/data/icons/picol-vector/32/view-512.png" width="15px"/>
    views: <%=views%> <br />
    <img style="margin-left:10px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Flat_tick_icon.svg/1200px-Flat_tick_icon.svg.png" width="12px"/>
    Node Js test</div>

</body>
</html>
